<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
        <%= link_to "BOOK ONLINE STORE",root_path , id: "logo" %>
		
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "search", search_path %></li>

				<%if logged_in?%>
					<li><%= link_to "add book", new_path%></li>
                    <li><%= link_to "log out", logout_path, method: :delete%></li>

				<% else %>
					<li><%= link_to "login",login_path %></li>
				<% end %>

			</ul>
		</nav>
	</div>
</header>